.div #home-tiles {
  font-size: 16px;
  color: #fff;
  background-color: #080808;
  font-family: 'Oxygen', sans-serif;
}

.navbar{
border: none;
background-color: black;
color: #61122F;
}

.glyphicon{
	font-size: 30px;
	color:#61122F; 
}

.center{
	width: 90%;
	background-color: grey;

}
.container
{
	background-color: grey;
}
.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color: #61122F;
}
.navbar-brand{
font-size: 30px;	
}

body.p {
	background-color: #080808;
}